initial_robot_configuration:

  ###############################
  # Initial robot configuration #
  ###############################

  com: [0.0, 0.0, 0.3]
  amom: [0.0, 0.0, 0.0]
  lmom: [0.0, 0.0, 0.0]
  # weight distribution, normalized by gravity * robot_weight
  eef_ctrl:
    eef_frc_rf: [0.0, 0.0, 0.25]
    eef_frc_lf: [0.0, 0.0, 0.25]
    eef_frc_rh: [0.0, 0.0, 0.25]
    eef_frc_lh: [0.0, 0.0, 0.25]

  # position of end effectors
  # [1.0,                   # end effector status
                            # 1.0 : active
                            # 0.0 : non-active
  #  0.10, -0.20, -0.32,    # position (x, y, z)
  #  1.0, 0.0, 0.0, 0.0]    # orientation in quaternions (w, q_x, q_y, q_z)
  eef_pose:
    eef_rf: [1.0, 0.0, 0.124, 0.0, 1.0, 0.0, 0.0, 0.0]
    eef_lf: [1.0, 0.0, -0.124, 0.0, 1.0, 0.0, 0.0, 0.0]
    eef_rh: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] #no need to modify this for bolt
    eef_lh: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] #no need to modify this for bolt


terrain_description:

  #######################
  # Terrain description #
  #######################

  regions: []


contact_plan:

  ################
  # Contact plan #
  ################

  # contact specification
  #  [0.0,                  # start time of contact
  #   1.9,                  # end time of contact
  #   0.10, -0.20, -0.32,   # position (x, y, z)
  #   1.0, 0.0, 0.0, 0.0,   # orientation in quaternions (w, q_x, q_y, q_z)
  #   1.0,                  # selecting contact type
  #                         # 1.0 : flat contact, forces subject to friction cone constrains of flat surface
  #                         # 2.0 : full contact, forces free in any direction (e.g. hand grasp)
  #  -1.0]                  # select the number of terrains in which the contact should lie
                            # -1.0 : no contact planning

  effcnt_rf:
  - [0.0, 0.5, 0.00, 0.124, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [0.7, 1.0, 0.05, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [1.7, 2.0, 0.15, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [2.7, 3.0, 0.25, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [3.7, 4.0, 0.35, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [4.7, 5.0, 0.45, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [5.7, 6.0, 0.40, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [6.7, 7.0, 0.30, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [7.7, 8.0, 0.20, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [8.7, 9.0, 0.10, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [9.7, 10.0, 0.00, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [10.7, 11.0, 0.00, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [11.7, 12.0, 0.20, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [12.7, 13.0, 0.40, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [13.7, 14.0, 0.60, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [14.7, 15.0, 0.70, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [15.7, 16.0, 0.70, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [16.7, 17.0, 0.50, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [17.7, 18.0, 0.30, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [18.7, 19.0, 0.10, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [19.7, 20.0, 0.00, 0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [20.7, 21.0, 0.00, 0.124, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]

  effcnt_lf:
  - [0.0, 0.5, 0.00, -0.124, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [1.2, 1.5, 0.10, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [2.2, 2.5, 0.20, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [3.2, 3.5, 0.30, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [4.2, 4.5, 0.40, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [5.2, 5.5, 0.45, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [6.2, 6.5, 0.35, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [7.2, 7.5, 0.25, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [8.2, 8.5, 0.15, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [9.2, 9.5, 0.05, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [10.2, 10.5, 0.0, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [11.2, 11.5, 0.1, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [12.2, 12.5, 0.3, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [13.2, 13.5, 0.5, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [14.2, 14.5, 0.7, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [15.2, 15.5, 0.7, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [16.2, 16.5, 0.6, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [17.2, 17.5, 0.4, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [18.2, 18.5, 0.2, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [19.2, 19.5, 0.0, -0.100, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]
  - [20.2, 21.0, 0.0, -0.124, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -1.0]


  effcnt_rh: #redundant for bolt because it does not have hands
  - [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
  - [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

  effcnt_lh: #redundant for bolt because it does not have hands
  - [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
  - [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

  effvia_rf: []
  effvia_lf: []
  effvia_rh: []
  effvia_lh: []

planner_variables:

  #########################
  # Kinematics parameters #
  #########################

  load_kinematics: true

  display_motion: true
  num_dofs: 6
  # Number of dynamic and kinematic optimization iterations
  kd_iterations: 1
  num_subsamples: 3
  active_dofs: [0, 1, 2, 3, 4, 5]
  min_joint_limits: [-1.5, -2.5, -1.5, -2.5, -1.5, -2.5]
  max_joint_limits: [1.5, 2.5, 1.5, 2.5, 1.5, 2.5]
  default_joint_positions: [0., 0.52, -1.04, 0., 0.52, -1.04]

  #########################
  # IK formulation #
  #########################

  use_second_order_inv_kin: False # True: Second order IK,  False: First order IK,

  #########################
  # First Order IK parameters #
  #########################

  swing_traj_via_z: .3
  w_lin_mom_tracking: 1.
  w_ang_mom_tracking: 20.
  w_endeff_contact: 10.
  w_endeff_tracking: 10.
  p_endeff_tracking: 20.
  p_com_tracking: 4.
  w_joint_regularization: .001
  reg_orientation: 1.
  reg_joint_position: 2.
  num_joint_viapoints: 0
  num_base_viapoints: 0
  # joint via point definition
  #  [time,                      # activation time of the via point
  # Front_left_hip, Front_left_knee,
  # Front_right_hip, Front_right_knee,
  # Back_left_hip, Back_left_knee,
  # Back_right_hip, Back_right_knee ]        # desired joint position
  joint_viapoints:
    via0: [0., 0.52, -1.04, 0., 0.52, -1.04]
  # base via point definition
  #  [time,                      # activation time of the via point
  # roll, pitch, yaw]        # desired base Euler angles in radian
  base_viapoints:
    via0: [1.4, 0., 0., 0.]

  #########################
  # Second Order IK parameters #
  #########################

  swing_traj_via_z_second: 0.8
  w_lin_mom_tracking_second: 1e2
  w_ang_mom_tracking_second: 1e1
  w_endeff_contact_second: 1e5
  w_endeff_tracking_second: 1e5
  w_joint_regularization_second: 1e-1
  p_endeff_tracking_second: 1e4
  d_endeff_tracking_second: 2e2
  p_com_tracking_second: 1e2
  p_orient_tracking_second: 1e1
  d_orient_tracking_second: 1e0
  p_joint_regularization_second: 1e0
  d_joint_regularization_second: 5e-1
  p_mom_tracking_second: [10., 10., 10., 0.1, 0.1, 0.1]
  num_joint_viapoints_second: 0
  num_base_viapoints_second: 0

  # joint via point definition
  #  [time,                      # activation time of the via point
  # Front_left_hip, Front_left_knee,
  # Front_right_hip, Front_right_knee,
  # Back_left_hip, Back_left_knee,
  # Back_right_hip, Back_right_knee ]        # desired joint position
  joint_viapoints_second:
    via0: [0., 0.52, -1.04, 0., 0.52, -1.04]

  # base via point definition
  #  [time,                      # activation time of the via point
  # roll, pitch, yaw]        # desired base Euler angles in radian
  base_viapoints_second:
    via0: [1.4, 0., 0., 0.]

  #########################
  # Kinematics parameters #
  #########################

  # load_kinopt: False

  #######################
  # Dynamics parameters #
  #######################

  heuristic: TrustRegion  # Types: TrustRegion, SoftConstraint, TimeOptimization #
  n_act_eefs: 2
  # time step discretization
  time_step: 0.005
  time_horizon: 21.
  external_force: [0.00, 0.00, 0.00]
  com_displacement: [0.00, 0.0, 0.00]
  # Will only read via points if this number is great than 0
  num_com_viapoints: 0
  # via point definition
  # [2.50                 # activation time of the via point
  #  0.500, 0.45,  0.00]  # position (x, y, z)
  com_viapoints:
    via0: [1.25, 0.00, 0.00, 0.7]

  #####################
  # Timing parameters #
  #####################

  max_time_iterations: 50
  max_time_residual_tolerance: 1e-3
  min_time_residual_improvement: 1e-5

  ############################
  # Configuration parameters #
  ############################

  gravity: 9.81
  robot_mass: 1.25387789
  friction_coeff: 1.0
  floor_height: 0.0
  # minimum allowed distance from the robot base to the floor
  min_rel_height: 0.15
  friction_cone: LinearCone  # Types: LinearCone, SocCone #
  time_range: [0.02, 0.25]
  is_time_horizon_fixed: true
  torque_range: [0.0, 0.0]
  eff_offset_rf: [0.00, 0.124, 0.000]
  eff_offset_lf: [0.00, -0.124, 0.000]
  eff_offset_rh: []
  eff_offset_lh: []
  cop_range_rf: [0.00, 0.00, 0.00, 0.00]
  cop_range_lf: [0.00, 0.00, 0.00, 0.00]
  cop_range_rh: []
  cop_range_lh: []
  max_eef_lengths: [0.3, 0.3, 0.3, 0.3]
  has_torque_limits: false
  min_torque_limits: [-0.675, -0.675, -0.675, -0.675, -0.675, -0.675]
  max_torque_limits: [0.675, 0.675, 0.675, 0.675, 0.675, 0.675]

  ####################
  # Dynamics weights #
  ####################

  w_trq_arm: 0.000
  w_trq_leg: 0.000
  w_time_penalty: 0.000
  w_time: 1000.0
  w_com: [1000., 1000.0, 1000] #cost weight of final com position
  w_amom: [100.0, 100.0, 100.0]
  w_lmom: [0.1, 0.1, 0.1]
  w_amomd: [0.100, 0.142, 0.100]
  w_lmomd: [0.005, 0.1, 0.005]
  w_amom_final: [10.00, 10.0, 10.00] # cost weight of final linear momentum
  w_lmom_final: [10.00, 10.0, 100.00] # cost weight of final angular momentum
  w_com_via: [0.000, 0.0, 0.000]
  w_frc_arm: [0.0, 0.0, 0.0]
  w_frc_leg: [0.0, 0.0, 0.0]
  w_dfrc_arm: [0.000, 0.0, 0.010]
  w_dfrc_leg: [0.000, 0.0, 0.010]
  w_com_track: [1.00, 1.00, 1.000] #cost weight of tracking of com trajectory from kinematic planner
  w_lmom_track: [1.00, 1.00, 1.00] #cost weight of tracking of linear momentum trajectory from kinematic planner
  w_amom_track: [1000.0, 1000.0, 1000.0] #cost weight of tracking of angular momentum trajectory from kinematic planner

  ######################
  # Kinematics weights #
  ######################

  max_trajectory_iters: 5
  max_convergence_iters: 50
  convergence_tolerance: 1e-2
  integration_step: 1e-2
  slacks_penalty: 1e-2
  lambda_regularization: 1e-4

  w_kin_com: [10.00, 0.0, 10.00]
  w_kin_lmom: [1.e-3, 0.0, 1.e-4]
  w_kin_amom: [4.e-3, 0.00568, 0.000]
  w_kin_lmomd: [1.e-4, 0.000142, 1.e-4]
  w_kin_amomd: [1.e-3, 0.00142, 0.000]
  w_kin_eff_pos: [50.00, 14.2, 50.00]
  w_kin_eff_pos_nonact: [0.100, 1.42, 0.100]
  w_kin_base_ori: [1.e+0, 1.42e-08, 1.e-8]
  w_kin_default_joints: [1e-8, 1e-8, 1e-8, 1e-8, 1e-8, 1e-8, 1e-8, 1e-8]
  w_kin_joint_vel: [1e-6, 1e-6, 1e-6, 1e-8, 1e-8, 1e-8, 1e-6, 1e-6, 1e-6, 1e-6, 1e-6,
    1e-6, 1e-6, 1e-6]
  w_kin_joint_acc: [1e-6, 1e-6, 1e-6, 1e-8, 1e-8, 1e-8, 1e-6, 1e-6, 1e-6, 1e-6, 1e-6,
    1e-6, 1e-6, 1e-6]
                          # base                                 # joints

  #######################
  # Storage information #
  #######################

  store_data: true

  ##################
  # Solver setting #
  ##################

  use_default_solver_setting: false


solverlqr_dynamics:

  ############################
  # Lqr algorithm parameters #
  ############################

  verbosity: 0
  decimal_digits: 4
  lqr_max_iters: 1
  linesearch_coeff: 1.1
  linesearch_num_coeffs: 10
  cost_change_tolerance: 1e-9
  divergence_limit_check: 1e6
  bpass_regularization_type: 2
  bpass_min_regularization: 1e-6
  bpass_max_regularization: 1e10
  control_gradient_tolerance: 1e-6
  bpass_initial_regularization: 0.1
  min_expected_cost_improvement: 0.2
  bpass_mult_regularization_incr: 1.2
  bpass_initial_mult_regularization_incr: 1.0

  ##########################
  # Lqr problem parameters #
  ##########################

  problem_name: DynamicMomentumOptimization
  time_step: 0.005
  time_horizon: 21.
  state_dimension: 9
  control_dimension: 12
  initial_state: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

  has_control_limits: false

  #######################
  # Storage information #
  #######################

  store_data: false

  ###################
  # User parameters #
  ###################

  user_parameters:
    control_cost: [0.001, 0.00142, 0.001]
    com_tracking: [1.0, 1.42, 1.0]
    lmom_tracking: [0.1, 0.142, 0.1]
    amom_tracking: [0.1, 0.142, 0.1]
    com_final_tracking: [1.0, 0.0, 1.0]
    lmom_final_tracking: [0.1, 0., 0.1]
    amom_final_tracking: [0.1, 0., 0.1]


solver_variables:

  ###########################
  # Branch and Bound solver #
  ###########################

  BnB_verbose: false
  BnB_max_iterations: 1000
  BnB_integer_tolerance: 1e-4
  BnB_absolute_suboptimality_gap: 1e-3
  BnB_relative_suboptimality_gap: 1e-6

  ##########################
  # Convergence tolerances #
  ##########################

  feasibility_tolerance: 1e-7
  max_residual_tolerance: 1e-3
  absolute_suboptimality_gap: 1e-7
  relative_suboptimality_gap: 1e-6
  max_indeterminate_tolerance: 1e-9
  feasibility_tolerance_inaccurate: 1e-4
  absolute_suboptimality_gap_inaccurate: 5e-5
  relative_suboptimality_gap_inaccurate: 5e-5

  ############################
  # Equilibration parameters #
  ############################

  equil_iterations: 3
  scaling_factor: 1.0
  equil_upper_bound: 1.0e3
  equil_lower_bound: 1.0e-3

  ############################
  # Linear System parameters #
  ############################

  dyn_reg_thresh: 1e-13
  lin_sys_accuracy: 1e-14
  err_reduction_factor: 6.0
  num_iter_ref_lin_solve: 9
  static_regularization: 7e-8
  dynamic_regularization: 2e-7

  cg_step_rate: 2.0
  cg_full_precision: 1e-9
  cg_residual_bound: 1e-18
  cg_reduced_precision: 1e-1

  ########################
  # Algorithm parameters #
  ########################

  safeguard: 500.0
  min_step_length: 1e-6
  max_step_length: 0.999
  min_centering_step: 1e-4
  max_centering_step: 1.00
  step_length_scaling: 0.99

  over_relaxation: 1.5
  optinfo_interval: 100
  converged_interval: 20
  consensus_penalty: 1e-3

  ####################
  # Model parameters #
  ####################

  verbose: false
  warm_start: false

  max_iters: 100
  ipsolver_max_iters: 100
  ipsolver_warm_iters: 100
  conicsolver_max_iters: 300
  conicsolver_warm_iters: 300

  num_itrefs_trustregion: 2
  trust_region_threshold: 0.15
  soft_constraint_weight_full: 1.0e4
  soft_constraint_weight_reduced: 1.0e4
